<section class="login-clean">
  <form method="post">
    <h2 class="sr-only">Login Form</h2><img style="height:80px;" src="assets/img/tinder-logo.png" />
    <div class="illustration"></div>
    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
    <div class="form-group"><input placeholder="Name" type="text" class="form-control" /></div>
    <div class="form-group"><input placeholder="Hobby" class="form-control" type="text" /></div>
    <div class="form-group"><input placeholder="Description" class="form-control" type="text" /></div><div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="formCheck-1"/>
      <label class="form-check-label-male" for="formCheck-1">Male</label>

      <input type="checkbox" style="margin-left: 10px" class="form-check-input" id="formCheck-1"/>
      <label style="margin-left: 30px" class="form-check-label-female" for="formCheck-1">Female</label>
    </div>
  </div>
    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit"><a href="login">Create</a></button></div>
  </form>
</section>
